/* ******************** */
/* HEADER */
/* ******************** */

header {
    aspect-ratio: 1 / 1;
    text-align: center;
    color: var(--black);
    padding: 3rem 2rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-position: 30%;
    position: relative;
}

/* ******************** */
/* CONTROLS */
/* ******************** */

.controls {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    color: var(--white);
    width: calc(100% / 3);
    aspect-ratio: 2 / 1;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.controls button {
    cursor: pointer;
    width: 100%;
    height: 100%;
    border: none;
    background-color: var(--black);
}

.controls button:is(:hover, :focus-visible) {
    background-color: var(--very-dark-gray);
    outline: none;
}

.controls svg {
    height: 66%;
}

/* ******************** */
/* SLIDES */
/* ******************** */

.slide-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.slide-technologies {
    display: flex;
    gap: 10px;
    font-size: 1rem;
    color: black;
}

/* ******************** */
/* SECTIONS */
/* ******************** */

section {
    padding: 5rem 4rem;
}

section h2 {
    font-size: 1.9rem;
}

section p {
    margin-top: 10px;
    font-size: 0.8rem;
    line-height: 1.75;
}

section a {
    margin-top: 3rem;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--black);
    outline-offset: 0.25rem;
    margin-right: 1rem;

    display: inline-block;
}

section[data-slides] {
    position: relative;
    display: grid;
    place-items: center;
}

.slide {
    position: absolute;
    visibility: hidden;
    inset: 0;
    opacity: 0;
    transition: opacity 300ms linear;
}

.slide[data-active] {
    visibility: visible;
    position: unset;
    opacity: 1;
}

.coming-soon {
    cursor: default;
}

/* ******************** */
/* CONTACT */
/* ******************** */

.contact {
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 42px;
    padding: 5rem 4rem;
}

.contact h3 {
    color: white;
}

.contact a {
    color: white;
    margin-right: 0px;
    margin-top: 0.5rem;
}

.contact .contact-body {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contact .contact-footer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.contact .contact-footer span {
    background: white;
    width: 17.5px;
    height: 2px;
}

.contact .contact-footer-links {
    display: flex;
    gap: 5px;
}

/* ******************** */
/* MEDIA QUERIES */
/* ******************** */

@media (max-width: 425px) {
    section {
        padding: 3rem 2rem;
        transition: ease-in-out 1.2s;
    }
    .contact {
        padding: 3rem 2rem;
        transition: ease-in-out 1.2s;
    }
}
