@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");
@import "../transitions.css";

:root {
    /* layout */
    --desktop-font-size: 16px;
    /* colors */
    --dark-gray: hsl(0, 0%, 63%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --very-dark-gray: hsl(0, 0%, 27%);
    /* fontweight */
    --light: 500;
    --normal: 600;
    --bold: 700;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: var(--desktop-font-size);
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
}

body {
    font-family: "Spartan", sans-serif;
    font-weight: var(--normal);
    color: var(--very-dark-gray);
}

h1 {
    font-weight: var(--bold);
    font-size: 1.5rem;
    padding-right: 2rem;
}

h2,
h3 {
    color: var(--black);
    font-weight: var(--bold);
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

h3 {
    font-size: 0.9rem;
    text-transform: uppercase;
}

h4 {
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--black);
}

a {
    text-decoration: none;
    color: var(--black);
}

p {
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    word-spacing: -0.05em;
}

/* ******************** */
/* SECTION */
/* ******************** */

section div.content-header {
    padding: 5rem 4rem;
}

section p {
    font-size: 0.9rem;
    line-height: 1.75;
}

section a {
    margin-top: 3rem;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--black);
    outline-offset: 0.25rem;
    margin-right: 1rem;

    display: inline-block;
}

section a:hover {
    color: var(--dark-gray);
}

/* ******************** */
/* PROJECT SECTIONS */
/* ******************** */

h1 {
    position: absolute;
    margin-top: 40px;
    margin-left: 35px;
    z-index: 100;
}

section div {
    width: 100%;
}

section .content-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 35%;

    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

/* ******************** */
/* PROJECT IMAGES */
/* ******************** */

.content-images {
    width: 100%;

    background-size: cover;
    background-position: center;
}

.other-image {
    display: block;
    max-width: 100%;
}

/* ******************** */
/* PROJECT TEXT BODY */
/* ******************** */

.content {
    display: flex;
    flex-direction: row-reverse;
}

.content-footer {
    display: flex;
    flex-direction: row;

    height: 100vh;
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 1rem;
}

.content-header-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content-header-text {
    text-align: justify;
}

/* ******************** */
/* FOOTER */
/* ******************** */

.content-footer-images {
    width: 100%;
    display: flex;
    flex-direction: column;

    background-size: cover;
    background-position: center;
}

.content-footer-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;
    width: 37.5%;
}

.other-image-footer {
    height: 100vh;
    display: block;
    max-width: 100%;
}

.next {
    border-top: 1px solid black;
}

.next a {
    display: flex;
    align-items: baseline;
    padding-left: 4rem;

    gap: 10px;
}

.back {
    display: flex;
    justify-content: space-between;

    padding: 0 4rem 2rem 4rem;
}

/* ******************** */
/* TEXT FADE ANIMATION */
/* ******************** */

.appear {
    -webkit-transition: all 1.2s;
    transition: all 1.2s;
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
}

.appear.inview {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

/* ******************** */
/* MEDIA QUERIES */
/* ******************** */

@media (max-width: 1440px) {
    h1 {
        left: 48%;
        transform: translateY(-50%) translateX(-50%);
    }

    section div {
        width: 100%;
    }

    section .content {
        display: block;
    }

    section .content-header {
        height: auto;
        width: 100%;
        position: static;
    }

    .content-header-info {
        margin-top: 30px;
    }

    .content-footer {
        display: block;
        height: 0px;
    }

    .other-image-footer {
        height: auto;
    }

    .content-footer-text {
        height: 40vh;
        width: 100%;
    }

    .back a {
        margin-right: 0px;
    }
}

@media (max-width: 425px) {
    section div.content-header {
        padding: 5rem 2rem;
    }
    .back {
        padding: 2rem;
    }
    .next a {
        padding-left: 2rem;
    }
}
